@import "../../../../vars";
.about-page {
  width: 600px;
  background-color: $light-bg;
  box-shadow: $box-shadow;
  display: block;
  padding: 32px 48px;
  margin-left: 12px;
  margin-top: -20px;
  span {
    line-height: 28px;
    font-size: 16px;
    color: #000000;
  }

}
