@import "../../../../vars";
.page-content {
  h2 {
    margin-top: -20px;
    margin-left: 20px;
    background-color: $light-bg;
    padding: 20px;
    width: 400px;
    box-shadow: $box-shadow;

  }

}
