@import "../../../_vars";
.login-form {

    width: 600px;
    height: 320px;
    display: flex;
    flex-flow: column;
    padding: 32px 48px;
    margin-left: 12px;
    margin-top: -20px;
    background-color: $light-bg;
    box-shadow: $box-shadow;

    ::ng-deep .mat-form-field-flex {
        background-color: transparent;
    }
    .actions-container {
        margin-top: 32px;
        text-align: right;
    }
    .disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
.success-message {
    font-size: 22px;
    color: green;
    line-height: 256px;
}
