.autocomplete-container {
    &.disabled {
        opacity: 0.3;
        pointer-events: none;
    }
    position: relative;
    mat-form-field {
        width: 100%;
    }
    .error-message {
        font-size: 10px;
        color: red;
        position: absolute;
        bottom: -2px;
    }
}
