<div class="autocomplete-container" [ngClass]="options.length === 0 ? 'disabled' : ''">
    <mat-form-field>
        <input #input 
        type="text"
        [placeholder]="placeholder"
        aria-label="Number"
        matInput
        (keyup)="onInputChange($event)"
        [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayWith">
            <mat-option *ngFor="let option of filteredOptions" [value]="option" (onSelectionChange)="onChange($event)">
            {{option[filterField]}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div class="error-message">{{error}}</div>
</div>
