<div class="model-selector-page">
    <h1>Model selector</h1>
    <div class="form">
        <div class="form-fields" *ngIf="!formSubmitted">
          <autocomplete-dropdown
            placeholder="Manufacturer"
            [displayWith]="manufacturerDisplayFn"
            [options]="manufacturerOptions"
            [filterField]="'Mfr_Name'"
            (onSelectionChange)="onManufacturerChange($event)"
            [error]="manufacturerError"
          ></autocomplete-dropdown>

          <autocomplete-dropdown
            placeholder="Makes"
            [displayWith]="makeDisplayFn"
            [options]="makesOptions"
            [filterField]="'Make_Name'"
            [error]="makeError"
            (onSelectionChange)="onMakeChange($event)"
          ></autocomplete-dropdown>

          <autocomplete-dropdown
            placeholder="Models"
            [displayWith]="modelDisplayFn"
            [options]="modelOptions"
            [filterField]="'Model_Name'"
            [error]="modelError"
            (onSelectionChange)="onModelChange($event)"
          ></autocomplete-dropdown>
            <div class="buttons-container">
                <button (click)="submitForm()">Submit</button>
            </div>
            <div class="general-error">{{generalError}}</div>
        </div>
        <div class="success-message" *ngIf="formSubmitted">Thank you for submitting the data!</div>
        <div class="reset" *ngIf="formSubmitted" (click)="resetForm()">Find another model</div>
    </div>
</div>
