.main-page {
    .form {
        width: 450px;
        height: 320px;
        border: 1px solid silver;
        border-radius: 32px;
        display: flex;
        flex-flow: column;
        padding: 32px 48px;
        margin: 72px;
        box-shadow: silver 12px 12px 32px;
        button {
            max-width: 120px;
            margin-top: 32px;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
    .success-message {
        font-size: 22px;
        color: green;
        line-height: 256px;
    }
}